<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container" style="background-color: #fca503;">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style="background-image: url(https://cdn.theatlantic.com/thumbor/JhvJUHu_FwWEqjfv1viJxazm2EY=/900x533/media/img/photo/2018/01/2000-days-on-mars-with-the-curiosit/m01_1943MH000/original.jpg); background-size: 100%;">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-outline-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h1>Latest Mars News</h1>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h1>Featured Mars Image</h1>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>

        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h3>Mars Facts</h3>
            {{ mars.facts | safe }}
          </div>
        </div>
      </div>

      
      <!-- Section for Mars Hemispheres -->
   
       <!-- Cards -->
       <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>

       <div class="card-deck">
           <hr>
           <div class="row">
              {% for dict in mars.hemisphere_info %}
                <div class="col-lg-3">
                  <div class="card text-white bg-dark" style="margin: 30px;">
                      <img class="card-img-top" src="{{ dict.img_url }}" />
                       <div class="card-body">
                         <p class="card-text">{{ dict.title }}</p>
                      </div>
                  </div>
                </div>                
              {% endfor %}
              </div>
        </div>


  </body>
  
  </html>